

<div class="central-meta postbox">
  <span class="create-post">Update your comment</span>
  <div class="new-postbox">
    <figure>
      <img src="images/resources/admin.jpg" alt="">
    </figure>
    <div class="newpst-input">
      <form *ngIf="formUpdate" [formGroup]="formUpdate" (ngSubmit)="submitUpdate()">
        <textarea rows="2" formControlName="content"></textarea>
        <button>Accept</button>
      </form>
    </div>

    <div class="add-location-post">
      <span>Drag map point to selected area</span>
      <div class="row">

        <div class="col-lg-6">
          <label class="control-label">Lat :</label>
          <input type="text" class="" id="us3-lat"/>
        </div>
        <div class="col-lg-6">
          <label>Long :</label>
          <input type="text" class="" id="us3-lon"/>
        </div>
      </div>
      <!-- map -->
      <div id="us3"></div>
    </div>
  </div>
</div>

