<li class="post-comment">
  <div class="comet-avatar">
    <img src="src/assets/images/resources/nearly1.jpg" alt="">
  </div>
  <div class="post-comt-box">
    <form method="post">
      <textarea placeholder="Post your comment"></textarea>
      <div class="add-smiles">
        <div class="uploadimage">
          <i class="fa fa-image"></i>
          <label class="fileContainer">
            <input type="file">
          </label>
        </div>
        <span class="em em-expressionless" title="add icon"></span>
        <div class="smiles-bunch">
          <i class="em em---1"></i>
          <i class="em em-smiley"></i>
          <i class="em em-anguished"></i>
          <i class="em em-laughing"></i>
          <i class="em em-angry"></i>
          <i class="em em-astonished"></i>
          <i class="em em-blush"></i>
          <i class="em em-disappointed"></i>
          <i class="em em-worried"></i>
          <i class="em em-kissing_heart"></i>
          <i class="em em-rage"></i>
          <i class="em em-stuck_out_tongue"></i>
        </div>
      </div>

      <button type="submit"></button>
    </form>
  </div>
</li>
