<div class="central-meta">
  <div class="title-block">
    <div class="row">
      <div class="col-lg-6">
        <div class="align-left">
          <h5>Friend / Followers <span>30</span></h5>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row merged20">
          <div class="col-lg-7 col-md-7 col-sm-7">
            <form method="post">
              <input type="text" placeholder="Search Friend">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="select-options">
              <select class="select">
                <option>Sort by</option>
                <option>A to Z</option>
                <option>See All</option>
                <option>Newest</option>
                <option>oldest</option>
              </select>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="option-list">
              <i class="fa fa-ellipsis-v"></i>
              <ul>
                <li><a title="" href="#">Show Friends Public</a></li>
                <li><a title="" href="#">Show Friends Private</a></li>
                <li><a title="" href="#">Mute Notifications</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- title block -->
<div class="central-meta padding30">
  <div class="row merged20">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="friend-block">
        <div class="more-opotnz">
          <i class="fa fa-ellipsis-h"></i>
          <ul>
            <li><a href="#" title="">Block</a></li>
            <li><a href="#" title="">UnBlock</a></li>
            <li><a href="#" title="">Mute Notifications</a></li>
            <li><a href="#" title="">hide from friend list</a></li>
          </ul>
        </div>
        <figure>
          <img src="assets/images/resources/frnd-figure1.jpg" alt="">
        </figure>

        <div class="frnd-meta">
          <div class="frnd-name">
            <a href="#" title="">Adam James</a>
            <span>Los Angeles, CA</span>
          </div>
          <a class="send-mesg" href="#" title="">Message</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="friend-block">
        <div class="more-opotnz">
          <i class="fa fa-ellipsis-h"></i>
          <ul>
            <li><a href="#" title="">Block</a></li>
            <li><a href="#" title="">UnBlock</a></li>
            <li><a href="#" title="">Mute Notifications</a></li>
            <li><a href="#" title="">hide from friend list</a></li>
          </ul>
        </div>
        <figure>
          <img src="assets/images/resources/frnd-figure2.jpg" alt="">
        </figure>

        <div class="frnd-meta">
          <div class="frnd-name">
            <a href="#" title="">Andrew</a>
            <span>Tornoto, Canada</span>
          </div>
          <a class="send-mesg" href="#" title="">Message</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="friend-block">
        <div class="more-opotnz">
          <i class="fa fa-ellipsis-h"></i>
          <ul>
            <li><a href="#" title="">Block</a></li>
            <li><a href="#" title="">UnBlock</a></li>
            <li><a href="#" title="">Mute Notifications</a></li>
            <li><a href="#" title="">hide from friend list</a></li>
          </ul>
        </div>
        <figure>
          <img src="assets/images/resources/frnd-figure3.jpg" alt="">
        </figure>

        <div class="frnd-meta">
          <div class="frnd-name">
            <a href="#" title="">Arnold</a>
            <span>Istanbul, Turky</span>
          </div>
          <a class="send-mesg" href="#" title="">Message</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="friend-block">
        <div class="more-opotnz">
          <i class="fa fa-ellipsis-h"></i>
          <ul>
            <li><a href="#" title="">Block</a></li>
            <li><a href="#" title="">UnBlock</a></li>
            <li><a href="#" title="">Mute Notifications</a></li>
            <li><a href="#" title="">hide from friend list</a></li>
          </ul>
        </div>
        <figure>
          <img src="assets/images/resources/frnd-figure4.jpg" alt="">
        </figure>

        <div class="frnd-meta">
          <div class="frnd-name">
            <a href="#" title="">Ella Jhon</a>
            <span>Maxico city, USA</span>
          </div>
          <a class="send-mesg" href="#" title="">Message</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="friend-block">
        <div class="more-opotnz">
          <i class="fa fa-ellipsis-h"></i>
          <ul>
            <li><a href="#" title="">Block</a></li>
            <li><a href="#" title="">UnBlock</a></li>
            <li><a href="#" title="">Mute Notifications</a></li>
            <li><a href="#" title="">hide from friend list</a></li>
          </ul>
        </div>
        <figure>
          <img src="assets/images/resources/frnd-figure5.jpg" alt="">
        </figure>

        <div class="frnd-meta">
          <div class="frnd-name">
            <a href="#" title="">Madison</a>
            <span>Los Angeles, CA</span>
          </div>
          <a class="send-mesg" href="#" title="">Message</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="friend-block">
        <div class="more-opotnz">
          <i class="fa fa-ellipsis-h"></i>
          <ul>
            <li><a href="#" title="">Block</a></li>
            <li><a href="#" title="">UnBlock</a></li>
            <li><a href="#" title="">Mute Notifications</a></li>
            <li><a href="#" title="">hide from friend list</a></li>
          </ul>
        </div>
        <figure>
          <img src="assets/images/resources/frnd-figure6.jpg" alt="">
        </figure>

        <div class="frnd-meta">
          <div class="frnd-name">
            <a href="#" title="">Victoria</a>
            <span>Brazil</span>
          </div>
          <a class="send-mesg" href="#" title="">Message</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="friend-block">
        <div class="more-opotnz">
          <i class="fa fa-ellipsis-h"></i>
          <ul>
            <li><a href="#" title="">Block</a></li>
            <li><a href="#" title="">UnBlock</a></li>
            <li><a href="#" title="">Mute Notifications</a></li>
            <li><a href="#" title="">hide from friend list</a></li>
          </ul>
        </div>
        <figure>
          <img src="assets/images/resources/frnd-figure7.jpg" alt="">
        </figure>

        <div class="frnd-meta">
          <div class="frnd-name">
            <a href="#" title="">Lillian</a>
            <span>Mumbai India</span>
          </div>
          <a class="send-mesg" href="#" title="">Message</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="friend-block">
        <div class="more-opotnz">
          <i class="fa fa-ellipsis-h"></i>
          <ul>
            <li><a href="#" title="">Block</a></li>
            <li><a href="#" title="">UnBlock</a></li>
            <li><a href="#" title="">Mute Notifications</a></li>
            <li><a href="#" title="">hide from friend list</a></li>
          </ul>
        </div>
        <figure>
          <img src="assets/images/resources/frnd-figure8.jpg" alt="">
        </figure>

        <div class="frnd-meta">
          <div class="frnd-name">
            <a href="#" title="">Xing wing</a>
            <span>Beijing, China</span>
          </div>
          <a class="send-mesg" href="#" title="">Message</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="friend-block">
        <div class="more-opotnz">
          <i class="fa fa-ellipsis-h"></i>
          <ul>
            <li><a href="#" title="">Block</a></li>
            <li><a href="#" title="">UnBlock</a></li>
            <li><a href="#" title="">Mute Notifications</a></li>
            <li><a href="#" title="">hide from friend list</a></li>
          </ul>
        </div>
        <figure>
          <img src="assets/images/resources/frnd-figure9.jpg" alt="">
        </figure>

        <div class="frnd-meta">
          <div class="frnd-name">
            <a href="#" title="">Anson</a>
            <span>Spain</span>
          </div>
          <a class="send-mesg" href="#" title="">Message</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="friend-block">
        <div class="more-opotnz">
          <i class="fa fa-ellipsis-h"></i>
          <ul>
            <li><a href="#" title="">Block</a></li>
            <li><a href="#" title="">UnBlock</a></li>
            <li><a href="#" title="">Mute Notifications</a></li>
            <li><a href="#" title="">hide from friend list</a></li>
          </ul>
        </div>
        <figure>
          <img src="assets/images/resources/frnd-figure10.jpg" alt="">
        </figure>

        <div class="frnd-meta">
          <div class="frnd-name">
            <a href="#" title="">Babson</a>
            <span>London, Uk</span>
          </div>
          <a class="send-mesg" href="#" title="">Message</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="friend-block">
        <div class="more-opotnz">
          <i class="fa fa-ellipsis-h"></i>
          <ul>
            <li><a href="#" title="">Block</a></li>
            <li><a href="#" title="">UnBlock</a></li>
            <li><a href="#" title="">Mute Notifications</a></li>
            <li><a href="#" title="">hide from friend list</a></li>
          </ul>
        </div>
        <figure>
          <img src="assets/images/resources/frnd-figure11.jpg" alt="">
        </figure>

        <div class="frnd-meta">
          <div class="frnd-name">
            <a href="#" title="">Sarah</a>
            <span>Islamabad, Pakistan</span>
          </div>
          <a class="send-mesg" href="#" title="">Message</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="friend-block">
        <div class="more-opotnz">
          <i class="fa fa-ellipsis-h"></i>
          <ul>
            <li><a href="#" title="">Block</a></li>
            <li><a href="#" title="">UnBlock</a></li>
            <li><a href="#" title="">Mute Notifications</a></li>
            <li><a href="#" title="">hide from friend list</a></li>
          </ul>
        </div>
        <figure>
          <img src="assets/images/resources/frnd-figure12.jpg" alt="">
        </figure>

        <div class="frnd-meta">
          <div class="frnd-name">
            <a href="#" title="">Aishweria</a>
            <span>New Delhi, India</span>
          </div>
          <a class="send-mesg" href="#" title="">Message</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="friend-block">
        <div class="more-opotnz">
          <i class="fa fa-ellipsis-h"></i>
          <ul>
            <li><a href="#" title="">Block</a></li>
            <li><a href="#" title="">UnBlock</a></li>
            <li><a href="#" title="">Mute Notifications</a></li>
            <li><a href="#" title="">hide from friend list</a></li>
          </ul>
        </div>
        <figure>
          <img src="assets/images/resources/frnd-figure13.jpg" alt="">
        </figure>

        <div class="frnd-meta">
          <div class="frnd-name">
            <a href="#" title="">Jason Bill</a>
            <span>Los Angeles, CA</span>
          </div>
          <a class="send-mesg" href="#" title="">Message</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="friend-block">
        <div class="more-opotnz">
          <i class="fa fa-ellipsis-h"></i>
          <ul>
            <li><a href="#" title="">Block</a></li>
            <li><a href="#" title="">UnBlock</a></li>
            <li><a href="#" title="">Mute Notifications</a></li>
            <li><a href="#" title="">hide from friend list</a></li>
          </ul>
        </div>
        <figure>
          <img src="assets/images/resources/frnd-figure14.jpg" alt="">
        </figure>

        <div class="frnd-meta">
          <div class="frnd-name">
            <a href="#" title="">Camila</a>
            <span>Washington DC, USA</span>
          </div>
          <a class="send-mesg" href="#" title="">Message</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="friend-block">
        <div class="more-opotnz">
          <i class="fa fa-ellipsis-h"></i>
          <ul>
            <li><a href="#" title="">Block</a></li>
            <li><a href="#" title="">UnBlock</a></li>
            <li><a href="#" title="">Mute Notifications</a></li>
            <li><a href="#" title="">hide from friend list</a></li>
          </ul>
        </div>
        <figure>
          <img src="assets/images/resources/frnd-figure15.jpg" alt="">
        </figure>

        <div class="frnd-meta">
          <div class="frnd-name">
            <a href="#" title="">Sofia</a>
            <span>Los Angeles, CA</span>
          </div>
          <a class="send-mesg" href="#" title="">Message</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="friend-block">
        <div class="more-opotnz">
          <i class="fa fa-ellipsis-h"></i>
          <ul>
            <li><a href="#" title="">Block</a></li>
            <li><a href="#" title="">UnBlock</a></li>
            <li><a href="#" title="">Mute Notifications</a></li>
            <li><a href="#" title="">hide from friend list</a></li>
          </ul>
        </div>
        <figure>
          <img src="assets/images/resources/frnd-figure16.jpg" alt="">
        </figure>

        <div class="frnd-meta">
          <div class="frnd-name">
            <a href="#" title="">Riley</a>
            <span>London, Uk</span>
          </div>
          <a class="send-mesg" href="#" title="">Message</a>
        </div>
      </div>
    </div>
  </div>
  <div class="lodmore">
    <span>Viewing 1-16 of 30 friends</span>
    <button class="btn-view btn-load-more"></button>
  </div>
</div>
