<body>
<div class="theme-layout">
  <app-user-navbar></app-user-navbar>
  </div><!-- topbar -->

  <div class="fixed-sidebar right">
    <app-user-sidebar-right></app-user-sidebar-right>
  </div><!-- right sidebar users chat -->

  <div class="fixed-sidebar left">
    <app-user-sidebar-left></app-user-sidebar-left>
  </div><!-- left sidebar menu -->
  <section>
    <div class="gap2 gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row merged20" id="page-contents">
             <app-user-profile-banner></app-user-profile-banner>
              <div class="col-lg-12 col-md-12" >
                <aside class="sidebar">
                  <div class="central-meta stick-widget">
                    <div>
                      <span class="create-post">Personal Info</span>
                      <span style="margin-left: 800px" class="btn btn-primary"><a [routerLink]="['../home/'+ user.id + '/update']" >Edit profile</a></span>
                    </div>
                    <div class="personal-head">
                      <span class="f-title"><i class="fa fa-user"></i> About Me:</span>
                      <p>
                        Hi, I’m {{user.name}}
                      </p>
                      <span class="f-title"><i class="fa fa-birthday-cake"></i> Birthday:</span>
                      <p *ngIf="user.birth_date">
                          {{user.birth_date}}
                      </p>
                      <p *ngIf="!user.birth_date">
                        Can't see it
                      </p>
                      <span class="f-title"><i class="fa fa-phone"></i> Phone Number:</span>
                      <p>
                        {{user.phone}}
                      </p>

                      <span class="f-title"><i class="fa fa-globe"></i> Address:</span>
                      <p>
                          {{user.address}}
                      </p>
                      <span class="f-title"><i class="fa fa-briefcase"></i> Occupation:</span>
                      <p>
                        UI/UX Designer
                      </p>
                      <span class="f-title"><i class="fa fa-handshake-o"></i> Joined:</span>
                      <p>
                        {{user.created_at}}
                      </p>
                      <span class="f-title"><i class="fa fa-envelope"></i> Email & Website:</span>
                      <p>
                        {{user.email}}
                      </p>

                    </div>
                  </div>
                </aside>
              </div>
              <div class="col-lg-9 col-md-9">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- content -->

  <a title="Your Cart Items" href="shop-cart.html" class="shopping-cart" data-toggle="tooltip">Cart <i class="fa fa-shopping-bag"></i><span>02</span></a>

  <div class="bottombar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="copyright">© Pitnik 2020. All rights reserved.</span>
          <i><img src="assets/images/credit-cards.png" alt=""></i>
        </div>
      </div>
    </div>
  </div><!-- bottom bar -->

<div class="side-panel">
  <h4 class="panel-title">General Setting</h4>
  <form method="post">
    <div class="setting-row">
      <span>use night mode</span>
      <input type="checkbox" id="nightmode1"/>
    </div>
    <div class="setting-row">
      <span>Notifications</span>
      <input type="checkbox" id="switch22" />
    </div>
    <div class="setting-row">
      <span>Notification sound</span>
      <input type="checkbox" id="switch33" />
    </div>
    <div class="setting-row">
      <span>My profile</span>
      <input type="checkbox" id="switch44" />
    </div>
    <div class="setting-row">
      <span>Show profile</span>
      <input type="checkbox" id="switch55" />
    </div>
  </form>
  <h4 class="panel-title">Account Setting</h4>
  <form method="post">
    <div class="setting-row">
      <span>Sub users</span>
      <input type="checkbox" id="switch66" />
    </div>
    <div class="setting-row">
      <span>personal account</span>
      <input type="checkbox" id="switch77" />
    </div>
    <div class="setting-row">
      <span>Business account</span>
      <input type="checkbox" id="switch88" />
    </div>
    <div class="setting-row">
      <span>Show me online</span>
      <input type="checkbox" id="switch99" />
    </div>
    <div class="setting-row">
      <span>Delete history</span>
      <input type="checkbox" id="switch101" />
    </div>
    <div class="setting-row">
      <span>Expose author name</span>
      <input type="checkbox" id="switch111" />
    </div>
  </form>
</div><!-- side panel -->

<div class="popup-wraper1">
  <div class="popup direct-mesg">
    <span class="popup-closed"><i class="ti-close"></i></span>
    <div class="popup-meta">
      <div class="popup-head">
        <h5>Send Message</h5>
      </div>
      <div class="send-message">
        <form method="post" class="c-form">
          <input type="text" placeholder="Sophia">
          <textarea placeholder="Write Message"></textarea>
          <button type="submit" class="main-btn">Send</button>
        </form>
        <div class="add-smiles">
          <div class="uploadimage">
            <i class="fa fa-image"></i>
            <label class="fileContainer">
              <input type="file">
            </label>
          </div>
          <span title="add icon" class="em em-expressionless"></span>
          <div class="smiles-bunch">
            <i class="em em---1"></i>
            <i class="em em-smiley"></i>
            <i class="em em-anguished"></i>
            <i class="em em-laughing"></i>
            <i class="em em-angry"></i>
            <i class="em em-astonished"></i>
            <i class="em em-blush"></i>
            <i class="em em-disappointed"></i>
            <i class="em em-worried"></i>
            <i class="em em-kissing_heart"></i>
            <i class="em em-rage"></i>
            <i class="em em-stuck_out_tongue"></i>
          </div>
        </div>

      </div>
    </div>
  </div>
</div><!-- send message popup -->

<div class="popup-wraper3">
  <div class="popup">
    <span class="popup-closed"><i class="ti-close"></i></span>
    <div class="popup-meta">
      <div class="popup-head">
        <h5>Report Post</h5>
      </div>
      <div class="Rpt-meta">
        <span>We're sorry something's wrong. How can we help?</span>
        <form method="post" class="c-form">
          <div class="form-radio">
            <div class="radio">
              <label>
                <input type="radio" name="radio" checked="checked"><i class="check-box"></i>It's spam or abuse
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="radio"><i class="check-box"></i>It breaks r/technology's rules
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="radio"><i class="check-box"></i>Not Related
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="radio"><i class="check-box"></i>Other issues
              </label>
            </div>
          </div>
          <div>
            <label>Write about Report</label>
            <textarea placeholder="write someting about Post" rows="2"></textarea>
          </div>
          <div>
            <button data-ripple="" type="submit" class="main-btn">Submit</button>
            <a href="#" data-ripple="" class="main-btn3 cancel">Close</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- report popup -->
</body>
