<body>
<div class="theme-layout">
  <app-user-navbar></app-user-navbar>
  </div><!-- topbar -->

  <div class="fixed-sidebar right">
    <app-user-sidebar-right></app-user-sidebar-right>
  </div><!-- right sidebar users chat -->

  <div class="fixed-sidebar left">
    <app-user-sidebar-left></app-user-sidebar-left>
  </div><!-- left sidebar menu -->
  <section>
    <div class="gap2 gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row merged20" id="page-contents">
             <app-user-profile-banner></app-user-profile-banner>
              <div class="col-lg-4 col-md-4" >
                <aside class="sidebar">
                  <div class="central-meta stick-widget">
                    <div>
                      <span class="create-post">Personal Info</span>
                    </div>
                    <div class="personal-head">
                      <span class="f-title"><i class="fa fa-user"></i> About Me:</span>
                      <p>
                        Hi, I’m {{user.name}}
                      </p>
                      <span class="f-title"><i class="fa fa-birthday-cake"></i> Birthday:</span>
                      <p *ngIf="user.birth_date">
                          {{user.birth_date}}
                      </p>
                      <p *ngIf="!user.birth_date">
                        Can't see it
                      </p>
                      <span class="f-title"><i class="fa fa-phone"></i> Phone Number:</span>
                      <p>
                        {{user.phone}}
                      </p>

                      <span class="f-title"><i class="fa fa-globe"></i> Address:</span>
                      <p>
                          {{user.address}}
                      </p>
                      <span class="f-title"><i class="fa fa-briefcase"></i> Occupation:</span>
                      <p>
                        UI/UX Designer
                      </p>
                      <span class="f-title"><i class="fa fa-handshake-o"></i> Joined:</span>
                      <p>
                        {{user.created_at}}
                      </p>
                      <span class="f-title"><i class="fa fa-envelope"></i> Email & Website:</span>
                      <p>
                        {{user.email}}
                      </p>
                    </div>
                  </div>
                </aside>
              </div>
              <div class="col-lg-8 col-md-8">
                <div class="central-meta">
                  <span class="create-post">Recent Stories <a href="#" title="">See All</a></span>
                </div><!-- top stories -->

                <div class="central-meta item">
                  <div class="user-post" *ngFor="let post of posts">
                    <div class="friend-info">
                      <figure>
                        <img src="src/assets/images/resources/nearly1.jpg" alt="">
                      </figure>
                      <div class="friend-name">
                        <div class="more">
                          <div class="more-post-optns"><i class="ti-more-alt"></i>
                            <ul>
                              <!--              <li><i class="fa fa-pencil-square-o"></i><a routerLink="/admin/home/posts/{{post.id}}/update">Edit-->
                              <!--                Post</a></li>-->
                              <!--              <li [hidden]="post.name != user.name"><i class="fa fa-trash-o"></i><a (click)="deletePost(post.id)">Delete Post</a></li>-->
                              <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                              <li><i class="fa fa-address-card-o"></i>Boost This Post</li>
                              <li><i class="fa fa-clock-o"></i>Schedule Post</li>
                              <li><i class="fa fa-wpexplorer"></i>Select as featured</li>
                              <li><i class="fa fa-bell-slash-o"></i>Turn off Notifications</li>
                            </ul>
                          </div>
                        </div>
                        <ins><a href="time-line.html" title="">{{post.name}}</a> Post Album</ins>
                        <span><i class="fa fa-globe"></i> published: </span>
                      </div>
                      <div class="post-meta">
                        <p>
                          {{post.content}}
                        </p>
                        <figure>
                          <div class="img-bunch">
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                                <figure>
                                  <a href="#" title="" data-toggle="modal" data-target="#img-comt">
                                    <img src="src/assets/images/resources/album1.jpg" alt="">
                                  </a>
                                </figure>
                                <figure>
                                  <a href="#" title="" data-toggle="modal" data-target="#img-comt">
                                    <img src="src/assets/images/resources/album2.jpg" alt="">
                                  </a>
                                </figure>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6">
                                <figure>
                                  <a href="#" title="" data-toggle="modal" data-target="#img-comt">
                                    <img src="src/assets/images/resources/album6.jpg" alt="">
                                  </a>
                                </figure>
                                <figure>
                                  <a href="#" title="" data-toggle="modal" data-target="#img-comt">
                                    <img src="src/assets/images/resources/album5.jpg" alt="">
                                  </a>
                                </figure>
                                <figure>
                                  <a href="#" title="" data-toggle="modal" data-target="#img-comt">
                                    <img src="src/assets/images/resources/album4.jpg" alt="">
                                  </a>
                                  <div class="more-photos">
                                    <span>+15</span>
                                  </div>
                                </figure>
                              </div>
                            </div>
                          </div>
                        </figure>
                        <div class="we-video-info">
                          <ul>
                            <li>
                              <div class="fas fa-thumbs-up" title="Like/Dislike"
                              ></div>
                            </li>
                            <li>
																<span class="comment" title="Comments">
																	<i class="fa fa-commenting"></i>
                                  <!--																	<ins>{{post.comment.length}}</ins>-->
																</span>
                            </li>
                          </ul>
                          <div class="users-thumb-list">
                            <a data-toggle="tooltip" title="Anderw" href="#">
                              <img alt="" src="src/assets/images/resources/userlist-1.jpg">
                            </a>
                            <a data-toggle="tooltip" title="frank" href="#">
                              <img alt="" src="src/assets/images/resources/userlist-2.jpg">
                            </a>
                            <a data-toggle="tooltip" title="Sara" href="#">
                              <img alt="" src="src/assets/images/resources/userlist-3.jpg">
                            </a>
                            <a data-toggle="tooltip" title="Amy" href="#">
                              <img alt="" src="src/assets/images/resources/userlist-4.jpg">
                            </a>
                            <a data-toggle="tooltip" title="Ema" href="#">
                              <img alt="" src="src/assets/images/resources/userlist-5.jpg">
                            </a>
                            <span><strong>You</strong>, <b>Sarah</b> and <a href="#"
                                                                            title="">24+ more</a> liked</span>
                          </div>
                        </div>
                      </div>
                      <div class="coment-area" style="display: block;">
                        <ul class="we-comet">
                          <li>
                            <div class="comet-avatar">
                              <img src="src/assets/images/resources/nearly3.jpg" alt="">
                            </div>
                            <div>
                              <div class="friend-name">
                                <!--                <h5><a href="time-line.html" title="">{{comment.name}}</a></h5>-->
                                <div class="more">
                                  <div class="more-post-optns"><i class="ti-more-alt"></i>
                                    <ul>
                                      <!--                    <li><i class="fa fa-pencil-square-o"></i><a routerLink="/admin/home/posts/{{post.id}}/update">Edit Post</a></li>-->
                                      <!--                      <li><i class="fa fa-trash-o"></i><a (click)="deleteComment(comment.id)">Delete Comment</a></li>-->
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <br>
                              <!--              <p>{{comment.content}}</p>-->
                              <div class="inline-itms">
                                <span>1 year ago</span>
                                <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                <a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>
                              </div>
                            </div>

                          </li>
                          <li>
                            <!--            <atitle="" class="showmore underline">more comments+</a>-->
                            <!--            <a [hidden]="post.showComment" (click)="showMoreComment(post.id)" title="" class="showmore underline">hide comments-</a>-->
                          </li>
                          <li class="post-comment">
                            <div class="comet-avatar">
                              <img src="src/assets/images/resources/nearly1.jpg" alt="">
                            </div>
                            <div class="post-comt-box">
                              <form>
                                <input type="number" hidden formControlName="user_id">
                                <textarea placeholder="Post your comment" formControlName="content"></textarea>
                                <div class="add-smiles">
                                  <div class="uploadimage">
                                    <i class="fa fa-image"></i>
                                    <label class="fileContainer">
                                      <input type="file">
                                    </label>
                                  </div>
                                  <span class="em em-expressionless" title="add icon"></span>
                                  <div class="smiles-bunch">
                                    <i class="em em---1"></i>
                                    <i class="em em-smiley"></i>
                                    <i class="em em-anguished"></i>
                                    <i class="em em-laughing"></i>
                                    <i class="em em-angry"></i>
                                    <i class="em em-astonished"></i>
                                    <i class="em em-blush"></i>
                                    <i class="em em-disappointed"></i>
                                    <i class="em em-worried"></i>
                                    <i class="em em-kissing_heart"></i>
                                    <i class="em em-rage"></i>
                                    <i class="em em-stuck_out_tongue"></i>
                                  </div>
                                </div>
                                <button type="submit">Comment</button>
                              </form>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- content -->

  <a title="Your Cart Items" href="shop-cart.html" class="shopping-cart" data-toggle="tooltip">Cart <i class="fa fa-shopping-bag"></i><span>02</span></a>

  <div class="bottombar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="copyright">© Pitnik 2020. All rights reserved.</span>
          <i><img src="assets/images/credit-cards.png" alt=""></i>
        </div>
      </div>
    </div>
  </div><!-- bottom bar -->

<div class="side-panel">
  <h4 class="panel-title">General Setting</h4>
  <form method="post">
    <div class="setting-row">
      <span>use night mode</span>
      <input type="checkbox" id="nightmode1"/>
    </div>
    <div class="setting-row">
      <span>Notifications</span>
      <input type="checkbox" id="switch22" />
    </div>
    <div class="setting-row">
      <span>Notification sound</span>
      <input type="checkbox" id="switch33" />
    </div>
    <div class="setting-row">
      <span>My profile</span>
      <input type="checkbox" id="switch44" />
    </div>
    <div class="setting-row">
      <span>Show profile</span>
      <input type="checkbox" id="switch55" />
    </div>
  </form>
  <h4 class="panel-title">Account Setting</h4>
  <form method="post">
    <div class="setting-row">
      <span>Sub users</span>
      <input type="checkbox" id="switch66" />
    </div>
    <div class="setting-row">
      <span>personal account</span>
      <input type="checkbox" id="switch77" />
    </div>
    <div class="setting-row">
      <span>Business account</span>
      <input type="checkbox" id="switch88" />
    </div>
    <div class="setting-row">
      <span>Show me online</span>
      <input type="checkbox" id="switch99" />
    </div>
    <div class="setting-row">
      <span>Delete history</span>
      <input type="checkbox" id="switch101" />
    </div>
    <div class="setting-row">
      <span>Expose author name</span>
      <input type="checkbox" id="switch111" />
    </div>
  </form>
</div><!-- side panel -->

<div class="popup-wraper1">
  <div class="popup direct-mesg">
    <span class="popup-closed"><i class="ti-close"></i></span>
    <div class="popup-meta">
      <div class="popup-head">
        <h5>Send Message</h5>
      </div>
      <div class="send-message">
        <form method="post" class="c-form">
          <input type="text" placeholder="Sophia">
          <textarea placeholder="Write Message"></textarea>
          <button type="submit" class="main-btn">Send</button>
        </form>
        <div class="add-smiles">
          <div class="uploadimage">
            <i class="fa fa-image"></i>
            <label class="fileContainer">
              <input type="file">
            </label>
          </div>
          <span title="add icon" class="em em-expressionless"></span>
          <div class="smiles-bunch">
            <i class="em em---1"></i>
            <i class="em em-smiley"></i>
            <i class="em em-anguished"></i>
            <i class="em em-laughing"></i>
            <i class="em em-angry"></i>
            <i class="em em-astonished"></i>
            <i class="em em-blush"></i>
            <i class="em em-disappointed"></i>
            <i class="em em-worried"></i>
            <i class="em em-kissing_heart"></i>
            <i class="em em-rage"></i>
            <i class="em em-stuck_out_tongue"></i>
          </div>
        </div>

      </div>
    </div>
  </div>
</div><!-- send message popup -->

<div class="popup-wraper3">
  <div class="popup">
    <span class="popup-closed"><i class="ti-close"></i></span>
    <div class="popup-meta">
      <div class="popup-head">
        <h5>Report Post</h5>
      </div>
      <div class="Rpt-meta">
        <span>We're sorry something's wrong. How can we help?</span>
        <form method="post" class="c-form">
          <div class="form-radio">
            <div class="radio">
              <label>
                <input type="radio" name="radio" checked="checked"><i class="check-box"></i>It's spam or abuse
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="radio"><i class="check-box"></i>It breaks r/technology's rules
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="radio"><i class="check-box"></i>Not Related
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="radio"><i class="check-box"></i>Other issues
              </label>
            </div>
          </div>
          <div>
            <label>Write about Report</label>
            <textarea placeholder="write someting about Post" rows="2"></textarea>
          </div>
          <div>
            <button data-ripple="" type="submit" class="main-btn">Submit</button>
            <a href="#" data-ripple="" class="main-btn3 cancel">Close</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- report popup -->
</body>
