<div>
  <app-post-create (data)="logPosts($event)"></app-post-create>
</div>
<div style="color: #00ccff" *ngFor="let item of array[0]; let i = index">
  <div class="row">
    <div class="col-md-6">
      <a href="">{{item.name}}</a>
    </div>
    <div class="col-md-6">
      <a href="">{{item.content}}</a>
    </div>
  </div>
</div>
<div class="central-meta">
  <div class="create-post" *ngFor="let post of posts" id="post-{{post.id}}">
    <div class="friend-info">
      <figure>
        <img src="{{post.avatar}}" style="width: 30px" alt="">
      </figure>
      <div class="friend-name">
        <div class="more" id="post">
          <div *ngIf="user.name == post.name" class="more-post-optns"><i class="ti-more-alt"></i>
            <ul>
              <li [hidden]="post.name != user.name"><i class="fa fa-pencil-square-o"></i><a routerLink="/admin/home/posts/{{post.id}}/update">Edit
                Post</a></li>
              <li [hidden]="post.name != user.name"><i class="fa fa-trash-o"></i><a (click)="deletePost(post.id)">Delete Post</a></li>
            </ul>
          </div>
        </div>
        <ins><a [routerLink]="['../../',post.userId,'personal-profile']" title="">{{post.name}}</a></ins>
        <span><i class="fa fa-globe"></i> published: {{post.created_at}} </span>
      </div>
      <div class="post-meta">
        <p>{{post.content}}</p>
        <figure>
          <div class="img-bunch">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <figure>
                  <a href="#" title="" data-toggle="modal" data-target="#img-comt">
                    <img src="{{post.image}}" alt="">
                  </a>
                </figure>
              </div>
            </div>
          </div>
        </figure>
        <div class="we-video-info">
          <ul>
            <li>
              <div class="fa fa-heart" title="Like/Dislike"  (click)="like(post.id)"
              ><span id="countLike-{{post.id}}">{{post.like.length}}</span></div>
            </li>
            <li>
																<span title="Comments">
																	<i [hidden]="!post.showComment" (click)="showMoreComment(post.id)"  class="fa fa-commenting"></i>
																	<ins class="comment" id="count-comment-{{post.id}}">{{post.comment.length}}</ins>
																</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="coment-area" style="display: block;">
        <ul class="we-comet">
          <li>
            <div  *ngFor="let comment of post.comment" class="we-comment" id="comment-{{comment.id}}" [hidden]="post.showComment">
              <div class="comet-avatar">
                <img src="{{comment.avatar}}" style="width: 20px; height: 20px" alt="">
              </div>
              <div class="friend-name">
                <h5><a href="time-line.html" title="">{{comment.name}}</a></h5>
                <div class="more">
                  <div [hidden]="comment.name != user.name" class="more-post-optns"><i class="ti-more-alt"></i>
                    <ul>
                      <li [hidden]="comment.name != user.name"><i class="fa fa-pencil-square-o"></i><a [routerLink]="['/admin/home/posts/update-comment', comment.id]">Edit Comment</a></li>
                      <li [hidden]="comment.name != user.name"><i class="fa fa-trash-o"></i><a id="deleteComment-{{comment.id}}" (click)="deleteComment(comment.id)">Delete Comment</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <br>
              <p>{{comment.content}}</p>
              <div class="inline-itms">
                <span>{{comment.created_at}}</span>
                <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                <a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>
              </div>
            </div>

          </li>
          <li>
            <!--            <atitle="" class="showmore underline">more comments+</a>-->
            <a [hidden]="post.showComment" (click)="showMoreComment(post.id)" title="" class="showmore underline">hide comments-</a>
          </li>
          <li class="post-comment">
            <div class="comet-avatar">
              <img src="{{user.avatar}}" style="width: 30px; height: 30px" alt="">
            </div>
            <div class="post-comt-box">
              <form *ngIf="formComment" [formGroup]="formComment" (ngSubmit)="submitComment(post.id)">
                <input type="number" hidden formControlName="user_id">
                <textarea placeholder="Post your comment" formControlName="content"></textarea>
                <button style="color: #0e0e0e" type="submit">Comment</button>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
